<main class="contentLogin">
  <div class="containerBoxForm">
    <h1>Login</h1>
    <form #formLogin="ngForm">
      <div class="inputFormBase">
        <label for="user">Usuário</label>
        <input
          type="text"
          id="user"
          name="user"
          [(ngModel)]="login.login"
          #user="ngModel"
          required />
        <div
          *ngIf="user.errors && (user.dirty || user.touched)"
          class="messagesErrors">
          <small [hidden]="!user?.errors?.['required']">Digite o usuário</small>
        </div>
      </div>
      <div class="inputFormBase">
        <label for="password">Senha</label>
        <div class="inputPassword">
          <input
            [type]="typePassword"
            id="password"
            name="password"
            [(ngModel)]="login.password"
            #password="ngModel"
            required />
          <button (click)="onShowPassword()">
            <mat-icon
              aria-hidden="false"
              aria-label="icon visibility"
              fontIcon="visibility"
              *ngIf="typePassword === 'password'"></mat-icon>
            <mat-icon
              aria-hidden="false"
              aria-label="icon visibility off"
              fontIcon="visibility_off"
              *ngIf="typePassword === 'text'"></mat-icon>
          </button>
        </div>

        <div
          *ngIf="password.errors && (password.dirty || password.touched)"
          class="messagesErrors">
          <small [hidden]="!password?.errors?.['required']"
            >Digite a senha</small
          >
        </div>
      </div>
      <small *ngIf="message" class="messagesErrors"> {{ message }}</small>
      <div class="footerFormButton">
        <button
          type="button"
          (click)="logar()"
          [disabled]="!formLogin.form.valid || login.login !== login.password">
          Entrar
        </button>
      </div>
    </form>
  </div>
</main>
