<main>
  <header class="header">
    <div class="contentHeader">
      <span>Meus Pagamentos </span>
      <span>
        {{ name }}
      </span>
    </div>
  </header>

  <section class="sectionHome">
    <article class="inputFormBase">
      <input
        type="text"
        placeholder="Pesquise por um nome"
        [(ngModel)]="searchFilter"
        (keyup)="applyFilter(searchFilter)" />
    </article>

    <article class="containerHome">
      <div class="btnsActions">
        <div>
          <button
            mat-mini-fab
            matTooltip="Filtro"
            aria-label="Example mini fab with a heart icon"
            [cdkMenuTriggerFor]="menu"
            class="btnIcon">
            <mat-icon>filter_alt</mat-icon>
          </button>
          <ng-template #menu>
            <div class="menuFilter" cdkMenu>
              <button
                class="filterItem"
                cdkMenuItem
                (click)="filterMostRecent()">
                Mais recentes
              </button>
              <button
                class="filterItem"
                cdkMenuItem
                (click)="filterEarliestDate()">
                Mais antigos
              </button>
            </div>
          </ng-template>
        </div>
        <button
          mat-mini-fab
          matTooltip="Adicionar pagamento"
          aria-label="Example mini fab with a heart icon"
          (click)="openAddRegisterPayment()"
          class="btnIcon">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div style="margin-top: 30px">
        <div
          *ngIf="!paymentsFiltered.length"
          style="display: flex; justify-content: center; margin-bottom: 1rem">
          Não há pagamentos cadastrados
        </div>
        <div class="tableResponsive">
          <table class="contentTable">
            <tbody *ngFor="let payment of paymentsFiltered">
              <tr>
                <td width="50%">{{ payment.username }}</td>
                <td>
                  <span>{{ payment.title }}</span>
                </td>
                <td>{{ payment.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ payment.valuePayment | currency: 'BRL' }}</td>
                <td>
                  <mat-checkbox
                    [checked]="payment.isPaid"
                    (change)="onChangePaid(payment, $event.checked)"
                    class="example-margin"
                    >Pago</mat-checkbox
                  >
                </td>
                <td>
                  <div class="btnsActions">
                    <button
                      mat-mini-fab
                      matTooltip="editar"
                      aria-label="Example mini fab with a heart icon"
                      class="btnIcon"
                      (click)="openEditRegisterPayment(payment)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button
                      mat-mini-fab
                      matTooltip="Adicionar pagamento"
                      aria-label="Example mini fab with a heart icon"
                      class="btnIcon"
                      (click)="onDelete(payment)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <mat-paginator
          [length]="pageLength"
          [disabled]="!payments.length"
          [hidePageSize]="true"
          [pageSize]="pageSize"
          (page)="handlePageEvent($event)"
          aria-label="Select page">
        </mat-paginator>
      </div>
    </article>
  </section>
</main>
