.header{
  background: var(--gray-700);
  padding: 2.5rem 0px 7.5rem;

  .content-header {
    max-width: 1120px;
    margin: 0px auto;
    padding: 0px 1.5rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;

    span {
      font-size: 1.5rem;
    }
  }
}
.sectionHome {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.inputFormBase{
  width: 100%;
  margin: -1.5rem auto 0 auto;

  input {
    flex:1;
    padding: 0 1rem;
  }

}

.containerHome{
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  width: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
}

.btnsActions{
    display: flex;
    justify-content: end;
    gap: 8px;

    .btnIcon {
      color: var(--gray-100);
      background-color: var(--blue-dark);
    }
}

.menuFilter {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0.2rem;
  background: var(--gray-400);
  border-radius: 8px;

  .filterItem {
    padding: 0.5rem;
    background: transparent;

    &:last-child{
      border-top: 1px solid rgb(128 128 128 / 42%);
    }
  }
}

.contentTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  margin-top: 1.5rem;

  td {
    padding: 1.25rem 2rem;
    background: var(--gray-500);
    color: var(--gray-200);

    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}


